.navbar-brand{
    width: 60px;
}
.navbar-brand .logo{
    width: 100%;
}
.btn-outline-light:hover{
    color: #17a2b8;
}
.navbar-toggler:focus{
    outline: none;
}
.banner1-bg{
    background-color: #3691E2;
}
.banner2-bg{
    background-color: #97DAD3
}
.banner3-bg{
    background-color: #F1E158;
}