.header{
    background-color: #17a2b8;
}
.cat-margin-top{
    margin-top: 120px;
}
.margin-top-max{
    margin-top: 200px;
}
.navbar-brand{
    width: 60px;
}
.navbar-brand .logo{
    width: 100%;
}
.btn-outline-light:hover{
    color: #17a2b8;
}
.navbar-toggler:focus{
    outline: none;
}
.banner1-bg{
    background-color: rgb(190, 239, 255);
}
.banner2-bg{
    background-color: #DBF8FF;
}
.banner3-bg{
    background-color: rgb(190, 255, 255);
}
.banner4-bg{
    background-color: #F1E158;
}
.banner5-bg{
    background-color: #D3DDFF;
}
.banner6-bg{
    background-color: #263C4B;
}
.banner1-bg,.banner2-bg,.banner3-bg,.banner4-bg,.banner5-bg,.banner6-bg{
    border-radius: 10px;
}

.carousel-h1{
    color: rgb(61, 61, 61);
}
.white-font-color{
    color: white;
}
.carousel-control-next, .carousel-control-prev {
    width: 8%;
}

.carousel-item{
    padding: 20px 60px;
}
.price{
    color: #17a2b8;
}
.buy-now{
    background-image: linear-gradient(to bottom,#2eaabd 0%,#17a2b8 100% );
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.div-cat{
    color: rgb(61,61,61);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px 45px;
    overflow: hidden;
}
.cat-head-text,.cat-h1{
    color: rgb(61, 61, 61);
}
.div-cat img{
    width: 50%;
}
.cat1{
    background-image: linear-gradient(60deg, rgb(159, 232, 245), rgb(103, 226, 248));
}
.cat2{
    background-image: linear-gradient(60deg,rgb(192, 255, 247), rgb(67, 252, 227));
}
.cat3{
    background-image: linear-gradient(60deg,rgb(165, 250, 207),rgb(111, 243, 188));
}
.cat3 img{
    width: 40%;
}
.cat-hr{
    width: 120px;
    height: 3px;
    background-color: #17a2b8;
    border-radius: 5px;
    margin-bottom: 2em;
}
.card{
    border:none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 10px lightgray;
    transition: box-shadow .3s ease-in-out;
}
.card:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    /* from getcssscan.com #24 no */
}
.card-body{
    padding-bottom: 0;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.card-text{
    font-size: 14px;
}
.text-muted{
    text-align: justify;
}
.container-footer{
    margin-bottom: 0px;
    padding: 20px 0;
}
.footer-section1{
    background-color: #e2fbff;
}
.footer-section2{
    background-color: #17a2b8;
    height: 270px;
}
.footer-section3{
    color: rgb(245, 245, 245);
    background-color: #016c7c;
    height: 40px;
}
.footer-logo-div{
    width: 25%;
}
.footer-logo{
    width: 100%;
}
.footer-col1{
    border-right: 1px solid white;
}
.footer-col2{
    font-size: 14px;
    line-height: 1.5em;
    color: rgb(245, 245, 245);
    padding: 0px 50px 0 50px;
    text-align: justify;
    border-right: 1px solid white;
}
.footer-col3{
    color: rgb(245, 245, 245);
    padding: 0px 0 0 50px;
}
.footer-p{
    color: rgb(245, 245, 245);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.footer-list{
    list-style: none;
    padding: 0;
}
.payment-logo img{
    width: 5%;
}

@media only screen and (max-width: 600px){
    .margin-top-max{
        margin-top: 120px;
    }
    .margin-top{
        margin-top: 80px;
    }
    .hide{
        display: none !important;
    }
    .hide-br{
        display: none;
    }
    .carousel-h1{
        font-size: 1.75em;
    }
    .price{
        font-size: 1.5em;
    }
    .container-mbl{
        padding-left:15px;
        padding-right:15px;
        margin-bottom: 100px !important;
    }
    .carousel-mbl{
        margin-top: 2em;
    }
    .carousel-span{
        display: none;
    }
    .footer-col1{
        width: 100%;
        padding:0 0 0 50px ;
    }
    .footer-col3{
        padding: 0 0 0 50px;
    }
    .footer-section1{
        padding: 0 10px;
    }
    .footer-section2{
        height: 440px;
        overflow: hidden;
    }
    .copyright{
        font-size: 10px;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape){
    .margin-top-max{
        margin-top: 120px;
    }
    .carousel-h1{
        font-size: 1.5em;
    }
    .carousel-p{
        font-size: 12px;
    }
    .carousel-span{
        display: none;
    }
    .price{
        font-size: 1em;
    }
    .buy-now{
        font-size: 8px;
        padding: 6px 15px ;
    }
    .hide{
        display: none;
    }
    .hide-br{
        display: none !important;
    }
    .cat-head-text{
        font-size: 1.5em;
    }
    .cat-h1{
        font-size: 12px;
    }
    .card-text{
        font-size: 10px;
    }
    .margin-top{
        margin-top: 80px;
    }
    .categories{
        display: none;
    }
    .footer-logo-div{
        width: 12%;
    }
    .footer-section2{
        height: 380px !important;
    }
    .footer-col1{
        border-right: 1px solid transparent;
    }
    .footer-col2{
        display: none !important;
    }
    .footer-col3{
        padding: 0 0 0 20px;
    }
    .footer-p{
        font-size: 12px;
        line-height: 20px;
    }
}
@media only screen and (max-width: 768px) and (orientation: portrait){
    .categories{
        display: none;
    }
    .hide{
        display: none;
    }
    .buy-now{
        font-size: 14px;
    }
    .footer-col2{
        display: block;
    }
}
@media only screen and (max-width: 800px) and (orientation: landscape){
    .margin-top-max{
        margin-top: 140px;
    }
    .carousel-h1{
        font-size: 1.5em;
    }
    .carousel-p{
        font-size: 12px;
    }
    .carousel-span{
        display: none;
    }
    .price{
        font-size: 1em;
    }
    .buy-now{
        font-size: 12px;
        padding: 8px 22px;
    }
    .categories{
        display: none;
    }
    .hide{
        display: none;
    }
    .hide-br{
        display: none;
    }
    .cat-head-text{
        font-size: 1.5em;
    }
    .cat-h1{
        font-size: 12px;
    }
    .card-text{
        font-size: 10px;
    }
    .margin-top{
        margin-top: 80px;
    }
    .footer-logo-div{
        width: 12%;
    }
    .footer-section2{
        height: 280px;
    }
    .footer-col2{
        display: block;
    }
    .footer-col3{
        padding: 0 0 0 20px;
    }
    .footer-p{
        font-size: 12px;
        line-height: 20px;
    }
}
@media only screen and (min-width: 1000px ){
    .div-cat{
        margin: 0 auto;
    }
    .div-cat h1{
        font-size: 2em;
    }
}